.container-play {
    h1 {
        color: #fff;
        font-weight: 900;
        font-size: 3em;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        a {
            box-shadow: 1px 1px 4px;
            border-radius: 25px;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            margin-bottom: 0.8em;
            background-color: #fff;
            color: #1E1E1E;
            font-size: 1.8em;
            font-weight: 900;
            transition: transform 0.2s;

            &:hover {
                transform: scale(0.85);
            }
        }

        .blocked {
            position: relative;
            pointer-events: none;
            color: #1e1e1e88;

            &:after {
                content: url('../../assets/svg/padLock.svg');
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
            }
        }
    }
}

@media (width >=1400px) {
    .container-play {
        h1 {
            margin-bottom: 2em;
        }

        ul {
            a {
                margin-bottom: 1.2em;
                height: 2.5em;
            }
        }
    }
}