.container-play {
    h1 {
        color: #fff;
        font-weight: 900;
        font-size: 3em;
        margin-bottom: 1em;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        a {
            box-shadow: 1px 1px 4px;
            border-radius: 25px;
            width: 80%;
            height: 1.8em;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            margin-bottom: 0.8em;
            background-color: #fff;
            color: #1E1E1E;
            font-size: 2em;
            font-weight: 900;
            transition: transform 0.2s;

            &:hover {
                transform: scale(0.85);
            }
        }

        .blocked{
            color: #1e1e1e80;
            cursor: not-allowed;
        }

    }
}

@media (width >=1400px) {
    .container-play {
        h1 {
            margin-bottom: 2em;
        }

        ul {
            a {
                margin-bottom: 1.2em;
                height: 2.5em;
            }
        }
    }
}